.post-header {
  background-color: #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.post-header h1 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: clamp(2rem, 4vw, 3.5rem);
}

.post-header .lead {
  font-size: clamp(1rem, 4vw, 1.25rem);
}

.surgeon-card {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  background: #f8f9fa;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #c7b07133;
}
.surgeon-img-container {
  --container-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--container-size);
  height: var(--container-size);
}
.surgeon-archive-headshot {
  width: var(--container-size);
  height: var(--container-size);
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--color-gold);
  background: linear-gradient(135deg, #f1f3ff 0%, #f8f6ff 100%);
  padding: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.surgeon-info {
  flex: 1;
}
.surgeon-card h2.h5 {
  color: #1b1b1b;
}
.surgeon-card .location-link {
  color: #6c757d;
  text-decoration: none;
  transition: color 0.2s ease;
}

.surgeon-card .location-link:hover {
  color: var(--color-gold);
  text-decoration: none;
}
.surgeon-bio-link {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s ease;
}
.surgeon-bio-link:hover {
  color: var(--color-gold);
  text-decoration: none;
}
.surgeon-bio-link i {
  margin-left: 8px;
  position: relative;
  top: -1px;
  transition: transform 0.2s ease;
}
.surgeon-bio-link:hover i {
  transform: translateX(3px);
}

@media (max-width: 767.98px) {
  .surgeon-img-container {
    --container-size: 100px;
  }
  .surgeon-archive-headshot {
    border: 2px solid var(--color-gold);
  }
  .surgeon-card .card-body {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
  }
  .surgeon-img-container {
    margin-right: 1rem !important;
    margin-bottom: 0;
  }
  .surgeon-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
