@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100 900;
  src: url(../fonts/montserrat.woff2) format("woff2-variations");
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 100 900;
  src: url(../fonts/montserrat-italic.woff2) format("woff2-variations");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-stretch: 75% 100%;
  font-style: normal;
  font-weight: 300 800;
  src: url(../fonts/opensans.woff2) format("woff2-variations");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-stretch: 75% 100%;
  font-style: italic;
  font-weight: 300 800;
  src: url(../fonts/opensans-italic.woff2) format("woff2-variations");
}
