@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-VariableFont_wght.woff2) format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Italic-VariableFont_wght.woff2) format("woff2-variations");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-VariableFont_wdth,wght.woff2) format("woff2-variations");
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2) format("woff2-variations");
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-style: italic;
	font-display: swap;
}